*{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
    box-sizing: border-box;
}
.dFLex{
    display: flex;
}
.flex{
    flex:1;
}
.hide{
    display: none;   
}
.alignCenter{
    align-items: center;
}
.justifyCenter{
    justify-content: center;
}
.justifyFlexEnd{
    justify-content: flex-end;
}
.justifyBetween{
    justify-content: space-between;
}
.justifyAround{
    justify-content: space-around;
}
.outlineNone{
    outline: none;
}
.borderNone{
    border: none;
}
.positionRelative{
    position: relative;
}
.positionAbsolute{
    position: absolute;
}
.zIndex2{
    z-index: 2;
}
.zIndex3{
    z-index: 3;
}
.cursor{
    cursor:pointer;
}
/* background color */
.redBackground{
    background-color: #d84f57;
}
.whiteBackground{
    background-color: #ffffff;
}
.grayBackground{
    background-color: #f7f7f7;
}
/* font sizes */
.vsmall{
    font-size: 9.75px;
}
.small{
    font-size: 12px;
}
.medium{
    font-size: 13px;
    line-height: 0;
    letter-spacing: .2px;
}
.mediumLarge{
    font-size: 15.4px;
    color: #444343;
}
.large{
    font-size: 19px;
}
.xlarge{
    font-size: 26px;
}
.extraLarge{
    font-size: 30px;
    line-height: 33px;
}
.XLlarge{
    font-size: 46px;
    color: #da4e52;
}
/* font weight */
.weight700{
    font-weight: 700;
}
.weight600{
    font-weight: 600;
}
.weight800{
    font-weight: 800;
}
.weight900{
    font-weight: 900;
}
/* color */
.white{
    color: #ffffff;
}
.creamColor{
    color: #f9e7ea;
}

/* main part */
.headerRow{
    width: 100%;
}
.header{
    height: 60px;
    padding: 0px 20px;
    margin: 0px 25px 0px 33px;
}
.fixed{
    position: fixed;
    z-index: 9;
}
.paddingHeader{
    padding: 27px 3px 0px 4px;
}
.border{
    border-bottom: 3px solid #fff!important;
}
.headermiddle{
    padding: 0 10px 0px 10px;
}
.selectedBus{
    padding: 0px 4px 26px 4px;
    margin: 27px 14px 0px  5px;
}
.newPadding{
    padding: 18px 19px 0px 0px;
}
.arrow{
    width: 13px;
}
.profile{
    width: 36px;
}
.paddingarrow{
    padding: 0px 0px 0px 7px;
}
.Manage{
    padding: 1px 0px 0px 22px;
}
.mainBody{
    background-image: url("../assets/Hero01.png");
    height: 450px;
    background-size: cover;
    overflow: hidden;
    background-repeat: round;
}
::-webkit-scrollbar {
    display: none;
}
.searchSection{
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 18%);
    z-index: 5;
}
.section1{
    padding-bottom: 45px;
    border-bottom: 1px solid #ccc;
}
.textDiv{
    border: 1px solid #d2d2d2;
    width: 225px; 
    padding: 7px 0px;
    margin-top: 1px;
}
.cityIcon{
    width: 24px;
    margin: 0px 0px 0px 5px;
}
.calender{
    width: 30px;
}
.mainSearchBar{
    margin: 26px 0px 0px 0px;
}
#search{
    width: 144px;
}
#search:hover{
    background-color: #e9555d;
}
#dateDiv{
    width: 169px;
}
#dateInput{
    width: 138px;
}
#from, 
#to ,
#date{
    left: 34;
}
.shitfImage{
    left: 207px;
    z-index: 4;
}
.inputPadding{
    padding: 13.3px 0px 0px 6px;
}
.toInput{
    padding-left: 9px;
}
.rest1{
    left: 361px;
    top: 384px;
    padding: 10px 0px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 28%);
}
.widthRest1{
    width: 690px;
}
.textCenter{
    text-align: center;
}
.grow {
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 28%);
    transition: all .2s ease-in-out;
}
.grow:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.06);
}
.width360{
    margin-left: 20px;
    width: 360px;
}
.imgMargin{
    margin: 0px 59px 0px 29px;
}
.marginText{
    margin: 20px 0px 2px 10px;
}
.marginText2{
    margin: 0px 0px 0px 10px;
}
.textbox1{
    margin-top: 80px;
}
.paddingSection{
    padding: 85px 183px;
}
.text3{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.androidImg{
    width: 426.22px;
    margin: 39px 0px 0px 35px;
}
/* .section1Part1{
    background-image: url("../assets/city_scape_app_download.png");
    height: 450px;
    background-size: cover;
    overflow: hidden;
    background-repeat: round;
} */
.cityScapeDiv{
    top: 206px;
}
.backgroundCityScape{
    opacity: 0.2;
    height: 430px;
}
.topMargin13{
    margin-top: 13px;
}
#sendLinkButton{
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 16px 7px 16px;
}
#smsTXTBOX{
    width: 206px;
}
.IP{
    padding-top: 1px;
    padding-right: 21px;
    margin: 0px 10px 0px 0px;
}
.applestoreImg{
    background-image: url(../assets/appleandplaystore.png);
    background-position: 0 0;
    margin-right: 8px;
    width: 40px;
    height: 40px;
}
.playstoreImg{
    background-image: url(../assets/appleandplaystore.png);
    background-position: 0 -80;
    width: 40px;
    height: 40px;
}
.topMargin10{
    margin-top: 10;
}
.topMargin20{
    margin-top: 20;
}
.bottonMargin20{
    margin-bottom: 20;
}
.section2{
    background-color: #ededed;
}
.titleBlock{
    margin: 0px 15px;
    padding: 0px 20px 84px 20px;
}
.promise{
    height: 100;
    margin: 16px 0px 13px 0px;
}
.wd{
    width: 420px;
}
.borderShadow{
    box-shadow: 0 0 1.2px #686868;
}
.imgCont {
    height: 90px;
}
.divCont{
    margin: 40px 0px 51px 0px;
}
.section2Text{
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.topMargin38{
    margin-top: 38px;
}
#awards{
    margin: 0px 0px 123px 0px;
}
.widthAward{
    width: 400px;
    padding-bottom: 41px;
}
.paddingIMgDiv{
    padding-top: 41px;
}
.footer{
    background-color: #1b2330;
}
.global{
    width: 400px;
}
.s3{
    margin: 20px 0px;
}
ul{
    list-style: none;
    padding: 0px 50px 0px 145px;
}
ul li{
    float: left;
    padding: 1px 10px 1px 5px;
    border-right: 1px solid #999;
    margin-bottom: 12px;
}
.s4{
    padding: 0px 50px 0px 145px;
}
.topPaddding31{
    padding-top: 31px;
}
.footer{
    clear: both;
}
.footerColor div{
    color: #d7d7d7;
}
.widthFooter{
    width:200px
}
.widthFooter335{
    width:335px
}
.footerColor .footerFirstText{
    color: #797979;
}
.lineHeightFooter{
    line-height: 27px;
}
.spanColor{
    color: #d7d7d7;
}
.cSpan{
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    padding: 0px 3px;
    font-size: 12px;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    box-shadow: 0 1px 5px #000;
    display: none;
    width: 160px;
    background-color: #ffffff;
    color: #4a4a4a;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    right: -39px;
  }
  
  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 101%;
    left: 95px;
    margin-left: -4px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }
  
  /* Toggle this class - hide and show the popup */
.popup .show {
    display: block;
}
.textInput{
    border:none;
    border-bottom: 1px solid;
    margin: 11;
}
.login{
    width: 170px;
    padding: 3px;
}
.signinText{
    color:#d84e55;
    line-height: 1.2;
}
#nameError,
#emailError,
#userError,
#passwordError,
#confirmError,
#userRoleError{
    color: red;
    margin: 0px 0px 0px 18px;
    display: none;
}
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.login{
    width: 170px;
    color: red;
}
.login:hover{
    background-color: #e9555d;
    color: #ffffff;
}
.formPadding{
    padding: 40px;
}
.error{
    border: 1px solid red;
    border-style: none none solid none;
}
.adminButton{
    width: 160px;
    border-color: rgb(210, 210, 210);
    color: #4a4a4a;
    border: 1px solid #d2d2d2;
    margin: 15px;
    padding: 4px;
}
#dateHidden{
    width: 17px;
    background: transparent;
}
.up{
    top:0;
}